{
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  }
}
